{% extends "../main/base.html" %}
{% block content %}
    {% include "./pagetopper.html" %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {% load static %}
                <h2>Information Management System</h2>
                <p><img src="{% static 'main/images/tracker_main.png' %}" alt="Information Management System" style="width:900px;"></p>
            </div>
        </div>
    </main>
{% endblock content %}