      <nav class="navbar navbar-expand-md navbar-dark bg-steel mb3 fixed-header-2">
        <div class="container">
            <a class="navbar-brand mr-4" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link-2" href="#"></a>
                <a class="nav-item nav-link-2" href="#"></a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                {% if user.is_authenticated %}
                    {%if user.is_staff %}
                        <a class="usr-nav-item nav-link-2" href="http://admmis.azurewebsites.net/admin/">Administration&nbsp;&nbsp;<i class="fas fa-user-cog"></i></a>
                    {% endif %}
                    <p class="usr-nav-item"><b>User: {{ user.username }} {{ group.name }} </b></p>
                    <a class="usr-nav-item nav-link-2" href="{% url 'profile' %}"><i class="fas fa-user-circle"></i>&nbsp;&nbsp;Profile</a>
                    <a class="usr-nav-item nav-link-2" href="{% url 'logout' %}">Logout&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a class="usr-nav-item nav-link-2" href="{% url 'login' %}">Login</a>
                    <a class="usr-nav-item nav-link-2" href="{% url 'register' %}">Request Account</a>
                {% endif %}
                </div>
            </div>
        </div>
      </nav>