{% extends "../products/prod_base.html" %}
{% load user_group %}
{% block content %}
    {% include "./prod_pagetopper.html" %}
    {% if user.is_authenticated %}
            {% if request.user|has_group:"PLM" %}
                <main role="main" class="container">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            {% load static %}
                            <p><img src="{% static 'main/images/PLM-Blog.jpg' %}" alt="Product Lifecycle Management" style="width:900px;"></p>
                        </div>
                    </div>
                </main>
            {% else %}
                {% include "../products/prod_noaccess.html" %}
            {% endif %}
    {% else %}
        {% include "../products/prod_warning.html" %}
    {% endif %}
{% endblock content %}