    <main role="main" class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                {% load static %}
                <br>
                <hr>
                <br>
                <br>
                <p><img src="{% static 'main/images/exclamation_triangle.png' %}" alt="Warning" style="width:239px;"></p>
                <h1 class="mt-4">You do not have the required access rights<br>to view the information in this area of application.</h1>
                <br>
                <br>
                <hr>
            </div>
        </div>
    </main>