      <nav class="navbar navbar-expand-md navbar-dark mb3 fixed-navbar">
        <div class="container">
        {% load static %}
        {% load user_group %}
            <a class="navbar-brand mr-4" href="https://intranet.computacenter.com/sites/OneCC/en-gb/Pages/default.aspx" target="_blank"><img src="{% static 'main/images/cclogo.png' %}" alt="Computacenter logo" style="width:40px;">></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav">
                    <ul>
                        <li class="nav-item-3">
                            <a class="nav-link-3 ml-120 mr-4" href="{% url 'main-home' %}"><i class="fas fa-home"></i></a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul>
                        <li class="nav-item-3 dropdown">
                            <a class="dropdown-toggle btn btn-navmain-adm" role="button" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SERVICES
                            </a>
                            <div class="dropdown-menu">
                                {% if request.user|has_group:"ADM" %}
                                    <a class="dropdown-item" href="{% url 'appdelivery-home' %}">Application Delivery</a>
                                {% endif %}
                                {% if request.user|has_group:"PLM" %}                           
                                    <a class="dropdown-item" href="{% url 'products-home' %}">Product Lifecycle</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>                    
                    <ul>
                        <li class="nav-item-3 dropdown">
                            <a class="dropdown-toggle btn btn-navmain-adm" role="button" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                COMPONENTS
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'hardware-home' %}">Hardware</a>
                                <a class="dropdown-item" href="{% url 'software-home' %}">Software</a>                            
                                <a class="dropdown-item" href="{% url 'plm-cust-home' %}">Customers</a>
                                <a class="dropdown-item" href="{% url 'swvend-home' %}">Vendors</a>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="nav-item-3 dropdown">
                            <a class="dropdown-toggle btn btn-navmain-adm" role="button" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ELEMENTS
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Hardware Category</a>
                                <a class="dropdown-item" href="#">Hardware Status</a>
                                <a class="dropdown-item" href="#">Software Type</a>
                                <a class="dropdown-item" href="#">Software Category</a>
                                <a class="dropdown-item" href="#">Software Status</a>
                                <a class="dropdown-item" href="#">Portfolio Category</a>
                                <a class="dropdown-item" href="#">Portfolio Status</a>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="nav-item-3 dropdown">
                    <a class="btn btn-navmain-adm btn-md" role="button" aria-pressed="true" href="{% url 'rep-plm-home' %}">REPORTS</a>
                        </li>
                    </ul>
                        {% if request.user|has_group:"CCDelegate" or request.user|has_group:"CCAdministrator" %}
                            <ul>
                                <li class="nav-item-3 dropdown">
                                    <a class="dropdown-toggle btn btn-navmain-adm" role="button" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        SETTINGS
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Service Lines</a>
                                        <a class="dropdown-item" href="#">Services</a>
                                        <a class="dropdown-item" href="#">Lists</a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    {% else %}
                    <ul>
                        <li class="nav-item-3">&nbsp;</li>
                    </ul>
                    {% endif %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        {%if user.is_staff %}
                            <a class="nav-item nav-link" href="#"></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
      </nav>
