        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-xl-12">
                    <legend class="border-bottom mb-2">PURCHASE ORDER DETAILS</legend>
                    <h2><b>Purchase Order:&nbsp;&nbsp;{{ object.po_reference }}</b></h2>
                    <h3 class="mb-2">Status:&nbsp;&nbsp;{{ object.po_status_fk }}</h3>
                    <hr class="mt-2 mb-2">
                    <legend class="border-bottom mb-2">XXXXXXXXXXXXXX</legend>
                    <div class="row mt-2">
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx&nbsp;&nbsp;
                            <a href="#" data-toggle="popover" data-placement="top" title="Lorem ipsum" data-content="Maecenas ante turpis, hendrerit vel convallis vitae, aliquet sit amet lacus.">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-2 pg-detail-txt"></div>
                        <div class="col-xl-10 pg-detail-txt"></div>
                    </div>
                    <legend class="border-bottom mb-2">XXXXXXXXXXXXXX</legend>
                    <div class="row mt-2">
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                        <div class="col-xl-3 pg-detail-hdr">xxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                        <div class="col-xl-3 pg-detail-txt"></div>
                    </div>
                </div>
            </div>
        </main>