          <div class="content-section">
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="javascript:history.go(-1)"><i class="fas fa-chevron-circle-left"></i>&nbsp;&nbsp;&nbsp;Go Back</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="{% url 'invoices-update' object.inv_id %}"><i class="fas fa-pen"></i>&nbsp;&nbsp;&nbsp;Edit / Update Details</a></li>
                {% for group in user.groups.all %}
                  {% if group.name == 'CCDelegate' %}
                    <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="{% url 'invoices-delete' object.inv_id %}"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;Delete Invoice</a></li>
                  {% endif %}
                {% endfor %}
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="{% url 'invoices-create' %}"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;New Invoice</a></li>
              </ul>
          </div>
