{% extends "../appdelivery/appdel_base.html" %}
{% block content %}InvoicePO" %}
        {% include "./inv_pagetopper.html" %}
    {% endwith %}
    {% include "./inv_pgheader.html" %}
    {% if user.is_authenticated %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-xl-9">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                    {% include "./inv_delete.html" %}
                </div>
                <div class="col-xl-3">
                    {% include "./inv_deleteoptions.html" %}
                </div>
            </div>
        </main>
    {% else %}
            <main role="main" class="container">
                <div class="row">
                    <div class="col-xl-12">
                        {% include "../appdelivery/appdel_warning.html" %}
                    </div>
                </div>
            </main>
    {% endif %}
{% endblock content %}