{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-9">
                  <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                    <div class="media-body">
                      <h2 class="account-heading">{{ user.username }}</h2>
                      <p class="text-secondary">Email address: {{ user.email }}</p>
                      <p class="text-secondary">Profile image: {{ user.profile.image.url }}</p>
                    </div>
                  </div>
                  <!-- FORM HERE -->
                </div>
                <div class="col-md-3">
                    <a class="btn btn-secondary" href="{% url 'password_change' %}" role="button">Change Password</a>
                </div>                
              </div>
          </main>
{% endblock content %}