{% extends "../main/base.html" %}
{% block content %}
    {% with breadcrumb="SOFTWARE"%}
        {% include "./sw_pagetopper.html" %}
    {% endwith %}
    {% include "./sw_pgheader.html" %}
    {% if user.is_authenticated %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                    {% include "./sw_list.html" %}
                </div>
                <div class="col-md-3">
                    {% include "../software/sw_sideoptions.html" %}
                </div>
            </div>
        </main>
    {% else %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-9">
                    {% include "../products/prod_warning.html" %}
                </div>
            </div>
        </main>
    {% endif %}
{% endblock content %}