        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                    <legend class="border-bottom mb-4">SOFTWARE DETAILS</legend>
                    <h2><b>{{ object.sw_description }}&nbsp;{{ object.sw_version }}</b></h2>
                    <h3 class="mb-2">{{ object.sw_vend_fk }}</h3>
                    <hr class="mt-2 mb-2">
                    <div class="row mt-2">
                        <h6 class="col-md-12" mb4>Milestone Dates</h6>
                        <div class="col-md-4 pg-detail-hdr">End of Sale</div>
                        <div class="col-md-4 pg-detail-hdr">End of Mainstream Support</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_eol_date}}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_ems_date }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4 pg-detail-hdr">End of Extended Support - Period 1</div>
                        <div class="col-md-4 pg-detail-hdr">End of Extended Support - Period 2</div>
                        <div class="col-md-4 pg-detail-hdr">End of Extended Support - Period 3</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_ees1_date}}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_ees2_date }}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_ees3_date }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-2 pg-detail-hdr">Is SEE ?&nbsp;&nbsp;
                            <a href="#" data-toggle="popover" data-placement="top" title="Support End Estimated" data-content="Is the Support End date an estimated date, or is it a confirmed date from the Vendor">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>
                        <div class="col-md-10 pg-detail-hdr">Product Lifecycle Policy</div>
                    </div>
                    <div class="row border-bottom mb-4">
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_see_yn_fk}}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_plp_txt }}</div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-md-12 mb-4">Portfolio Details</h6>
                        <div class="col-md-4 pg-detail-hdr">Customer</div>
                        <div class="col-md-4 pg-detail-hdr">Customer Reference</div>
                        <div class="col-md-2 pg-detail-hdr">Status</div>
                        <div class="col-md-2 pg-detail-hdr">Category</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_cust_fk}}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_cust_ref }}</div>
                        <div class="col-md-2 pg-detail-txt">{{ object.sw_portsts_fk }}</div>
                        <div class="col-md-2 pg-detail-txt">{{ object.sw_portcat_fk }}</div>
                    </div>                                        
                    <div class="row mt-2">
                        <div class="col-md-4 pg-detail-hdr">Software Classification</div>
                        <div class="col-md-4 pg-detail-hdr">Software Category</div>
                        <div class="col-md-4 pg-detail-hdr">Software Status</div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_swclass_fk }}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_swcat_fk }}</div>
                        <div class="col-md-4 pg-detail-txt">{{ object.sw_swsts_fk }}</div>
                    </div>
                    <hr class="mt-4 mb-2">                            
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#customers"><b>CUSTOMERS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attachments"><b>ATTACHMENTS</b></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="customers" class="container tab-pane active"><br>
                                    <h6>CUSTOMERS</h6>
                                </div>
                                <div id="contacts" class="container tab-pane"><br>
                                    <h6>CONTACTS</h6>
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                    <h6>NOTES</h6>
                                </div>
                                <div id="attachments" class="container tab-pane"><br>
                                    <h6>ATTACHMENTS</h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>