        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-lg-9">
                {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Software Matrix Details</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary-adm" type="submit">Save</button>
                            <a class="btn btn-danger-adm" href="javascript:history.go(-1)">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>