        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                    <legend class="border-bottom mb-4">Software Matrix Details</legend>
                    <h2><b>{{ object.swmtx_sw_fk }}</b></h2>
                    <hr>
                    <h2><b>{{ object.swmtx_cust_fk }}</b></h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </div>
            </div>
        </main>