        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                    <legend class="border-bottom mb-4">Software Vendor Details</legend>
                    <h2><b>{{ object.swvend_name }}</b></h2>
                    <hr/>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#products"><b>PRODUCTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attachments"><b>ATTACHMENTS</b></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="products" class="container tab-pane"><br>
                                    <h6>PRODUCTS</h6>
                                </div>
                                <div id="contacts" class="container tab-pane"><br>
                                    <h6>CONTACTS</h6>
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                    <h6>NOTES</h6>
                                </div>
                                <div id="attachments" class="container tab-pane"><br>
                                    <h6>ATTACHMENTS</h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>