{% extends "../appdelivery/appdel_base.html" %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {% load static %}
                <h3 class="mt-4">ADM Reports Homepage.....</h3>
                <br>
                <br>
                <span style="font-size: 192px;">
                <i class="fas fa-file-alt"></i>
                </span>
            </div>
        </div>
    </main>
{% endblock content %}
