        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">
                        <hr class="mb-2">
                            <!-- Tabs L1 -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#resources"><b>RESOURCES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#items"><b>ITEMS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#raid><b>RAID</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rfcs"><b>RFCS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attachments"><b>ATTACHMENTS</b></a></li>
                            </ul>
                            <!-- Tab panes L1 -->
                            <div class="tab-content">
                                <div id="resources" class="container tab-pane active"><br>
                                    <h6>RESOURCES</h6>
                                </div>
                                <div id="items" class="container tab-pane"><br>
                                    <h6>ITEMS</h6>
                                </div>
                                <div id="raid" class="container tab-pane"><br>
                                    <h6>RAID</h6>
                                    <hr>
                                    <!-- Tabs L2 -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#risks"><b>RISKS</b></a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#assumptions"><b>ASSUMPTIONS</b></a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#issues"><b>ISSUES</b></a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#dependencies"><b>DEPENDENCIES</b></a></li>
                                    </ul>
                                    <!-- Tab panes L1 -->
                                    <div class="tab-content">
                                        <div id="risks" class="container tab-pane active"><br>
                                            <h6>RISKS</h6>
                                        </div>
                                        <div id="assumptions" class="container tab-pane"><br>
                                            <h6>ASSUMPTIONS</h6>
                                        </div>
                                        <div id="issues" class="container tab-pane"><br>
                                            <h6>ISSUES</h6>
                                        </div>
                                        <div id="dependencies" class="container tab-pane"><br>
                                            <h6>DEPENDENCIES</h6>
                                        </div>
                                    </div>
                                </div>
                                <div id="rfcs" class="container tab-pane"><br>
                                    <h6>RFCS</h6>
                                </div>
                                <div id="contacts" class="container tab-pane"><br>
                                    <h6>CONTACTS</h6>
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                    <h6>NOTES</h6>
                                </div>
                                <div id="attachments" class="container tab-pane"><br>
                                    <h6>ATTACHMENTS</h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>