          <div class="content-section">
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Project</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Project</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Project</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Project</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Project</a></li>
              </ul>
          </div>
