        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-9">
                    <legend class="border-bottom mb-4">Project Details</legend>
                    <h2><b>{{ object.project_name }}</b></h2>
                    <h3 class="border-bottom mb-4">{{ object.project_customer_fk }}</h3>
                    <div class="row">
                        <div class="col">Project Reference</div><div class="col">Project Status</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ object.project_reference}}</div><div class="col">{{ object.project_status }}</div>
                    </div>
                </div>
            </div>
        </main>