    <div>
        <form method="GET" action=".">
            <div class="form-row">
                <div class="col-2">
                    <label for="projectName">Project filter:  </label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="projectName" name="projectName" aria-describedby="projectHelp" placeholder="Project name contains...">
                    {% comment %} <small id="projectHelp" class="form-text text-muted">Enter letters contained in the projects name...</small> {% endcomment %}
                </div>
                <div class="col">
                    <button class="btn btn-dark" type="submit" >Filter</button>
                </div>
            </div>
        </form>
        <hr/>
        <table class="table-adm table-sm table-hover">
            <thead>
                <tr>
                <th scope="col">Project</th>
                 </tr>
            </thead>
            <tbody>
                {% for project in queryset %}
                    <tr>
                        <td scope="row"> <a href="{% url 'project-detail' project.id %}" style="display:block;">{{project.project_name }}</a> </td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr/>
        <div class="pagination">
            <span>
                {% if queryset.has_previous %}
                    <a class="btn btn-outline-dark mb-4" href="?page=1">&lt;&lt;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ queryset.previous_page_number }}">&lt;</a>
                {% endif %}
                {% for num in queryset.paginator.page_range%}
                    {% if queryset.number == num %}
                         <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > queryset.number|add:'-3' and num < queryset.number|add:'3' %}
                        <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if queryset.has_next %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ queryset.next_page_number }}">&gt;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ queryset.paginator.num_pages }}">&gt;&gt;</a>
                {% endif %}
            </span>
        </div>
    </div>
                    <span class="current">
                        Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                    </span>