        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                    <legend class="border-bottom mb-4">Project Details</legend>
                    <h2><b>{{ object.project_name }}</b></h2>
                    <h3 class="border-bottom mb-4">{{ object.project_customer_fk }}</h3>
                    <div class="row">
                        <div class="col"><h6><b>Project Reference</b></h6></div><div class="col"><h6><b>Project Status</b></h6></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">{{ object.project_reference}}</div><div class="col">{{ object.project_statustype_fk }}</div>
                    </div>
                    <div class="row">
                        <div class="col"><h6><b>Charge Code</b></h6></div><div class="col"><h6><b>Charge Code Type</b></h6></div>
                    </div>
                    <div class="row">
                        <div class="col">{{ object.project_chargecode }}</div><div class="col">{{ object.project_chargecodetype_fk }}</div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#resources"><b>RESOURCES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#items"><b>ITEMS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pos"><b>PURCHASE ORDERS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#invoices"><b>INVOICES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="resources" class="container tab-pane active"><br>
                                    <h6>RESOURCES</h6>
                                </div>
                                <div id="items" class="container tab-pane"><br>
                                    <h6>ITEMS</h6>
                                </div>
                                <div id="pos" class="container tab-pane"><br>
                                    <h6>PURCHASE ORDERS</h6>
                                </div>
                                <div id="invoices" class="container tab-pane"><br>
                                    <h6>INVOICES</h6>
                                </div>
                                <div id="contacts" class="container tab-pane"><br>
                                    <h6>CONTACTS</h6>
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                    <h6>NOTES</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>