{% extends "../main/base.html" %}
{% block content %}
    {% with breadcrumb="PROJECTS / Project Details"%}
        {% include "./prj_pagetopper.html" %}
    {% endwith %}
    {% include "./prj_pgheader.html" %}
    {% if user.is_authenticated %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                    {% include "../projects/prj_details.html" %}
                </div>
                <div class="col-md-3">
                    {% include "../projects/prj_detailoptions.html" %}
                </div>
            </div>
        </main>
    {% else %}
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>You need to be logged in to view the information in this section of the application...</h1>
                    </div>
                </div>
            </main>
    {% endif %}
{% endblock content %}