{% extends "../main/base.html" %}
  <script type="text/javascript" src="{% url jsi18n %}"></script>
  <script type="text/javascript" src="{{ ADMIN_MEDIA_PREFIX }}/js/core.js"></script>
  <script type="text/javascript">window.__admin_media_prefix__ = "{{ ADMIN_MEDIA_PREFIX|escapejs }}";</script>
  <link href="{{ ADMIN_MEDIA_PREFIX }}/css/widgets.css" type="text/css" media="all" rel="stylesheet" />
{% block content %}
    {% with breadcrumb="HARDWARE"%}
        {% include "./hw_pagetopper.html" %}
    {% endwith %}
    {% include "./hw_pgheader.html" %}
    {% if user.is_authenticated %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                    {% include "./hw_form.html" %}
                </div>
                <div class="col-md-3">
                    {% include "../hardware/hw_formoptions.html" %}
                </div>
            </div>
        </main>
    {% else %}
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1>You need to be logged in to view the information in this section of the application...</h1>
                    </div>
                </div>
            </main>
    {% endif %}
{% endblock content %}