    <table>
        <tr>
            <td><a class="nav-item-2" href="#"><button type="button" class="btn btn-primary-adm btn-sm">Associate Customer...</button></a></td>
        </tr>
    </table>
    <hr/> 
    {% if hw_customers %}
        <table class="table-adm table-adm-sm table-adm-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Customer</th>
                    <th>Product Code</th>
                    <th>Product Reference</th>
                    <th>Portfolio Status</th>
                    <th>Portfolio Category</th>
                 </tr>
            </thead>
            <tbody>
                {% for customer in hw_customers %}
                    <tr>
                        <td scope="row"><a href="{% url 'plm-customer-detail' customer.hwmtx_cust_fk.pk %}" style="display:block;">
                            <b>{{ customer.hwmtx_cust_fk }}</b>
                        </a></td>
                        <td scope="row"><a href="#" style="display:block;">{{ customer.hwmtx_cust_code }}</a></td>
                        <td scope="row"><a href="#" style="display:block;">{{ customer.hwmtx_cust_ref }}</a></td>
                        <td scope="row"><a href="#" style="display:block;">{{ customer.hwmtx_portsts_fk }}</a></td>
                        <td scope="row"><a href="#" style="display:block;">{{ customer.hwmtx_portcat_fk }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr class="mb-4"/>
    {% else %}
        <h5 class="text-white text-center bg-dark border-top border-bottom mt-4 mb-4">No customers procure this product...</h5>
    {% endif %}