        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                    <legend class="border-bottom mb-4">Hardware Details</legend>
                    <h2><b>{{ object.hw_description }}</b></h2>
                    <h3 class="border-bottom mb-4">{{ object.hw_vend_fk }}</h3>
                    <div class="row">
                        <div class="col"><h6><b>Customer</b></h6></div><div class="col"><h6><b>Portfolio Status</b></h6></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">{{ object.hw_cust_fk}}</div><div class="col">{{ object.hw_portsts_fk }}</div>
                    </div>
                    <div class="row">
                        <div class="col"><h6><b>Hardware Category</b></h6></div><div class="col"><h6><b>Hardware Status</b></h6></div>
                    </div>
                    <div class="row">
                        <div class="col">{{ object.hw_hwcat_fk }}</div><div class="col">{{ object.hw_hwsts_fk }}</div>
                    </div>
                    <div class="row">
                        <div class="col"><h6><b>Internal Part Code</b></h6></div><div class="col"><h6><b>External Part Code</b></h6></div>
                    </div>
                    <div class="row">
                        <div class="col">{{ object.hw_int_code }}</div><div class="col">{{ object.hw_ext_code }}</div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attachments"><b>ATTACHMENTS</b></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="contacts" class="container tab-pane"><br>
                                    <h6>CONTACTS</h6>
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                    <h6>NOTES</h6>
                                </div>
                                <div id="attachments" class="container tab-pane"><br>
                                    <h6>ATTACHMENTS</h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>