        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                    <legend class="border-bottom mb-4">HARDWARE DETAILS</legend>
                    <h3><b>{{ object.hw_description }}</b></h3>
                    <h4 class="border-bottom mb-4">{{ object.hw_vend_fk }}</h4>
                    <div class="row">
                        <div class="col pg-detail-hdr">Customer</div><div class="col pg-detail-hdr">Portfolio Status</div>
                    </div>
                    <div class="row">
                        <div class="col pg-detail-txt">{{ object.hw_cust_fk }}</div><div class="col pg-detail-txt">{{ object.hw_portsts_fk }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col pg-detail-hdr">Hardware Category</div><div class="col pg-detail-hdr">Hardware Status</div>
                    </div>
                    <div class="row">
                        <div class="col pg-detail-txt">{{ object.hw_hwcat_fk }}</div><div class="col pg-detail-txt">{{ object.hw_hwsts_fk }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col pg-detail-hdr">Internal Part Code</div><div class="col pg-detail-hdr">External Part Code</div>
                    </div>
                    <div class="row">
                        <div class="col pg-detail-txt">{{ object.hw_int_code }}</div><div class="col pg-detail-txt">{{ object.hw_ext_code }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col pg-detail-hdr">EOL Date</div><div class="col pg-detail-hdr">Internal Reference</div>
                    </div>
                    <div class="row">
                        <div class="col pg-detail-txt">{{ object.hw_eol_date }}</div><div class="col pg-detail-txt">{{ object.hw_int_reference }}</div>
                    </div>
                    <hr>    
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>                            
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attachments"><b>ATTACHMENTS</b></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="contacts" class="container tab-pane"><br>
                                    <h6>CONTACTS</h6>
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                    <h6>NOTES</h6>
                                </div>
                                <div id="attachments" class="container tab-pane"><br>
                                    <h6>ATTACHMENTS</h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>