        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-xl-12">
                    <legend class="border-bottom">HARDWARE DETAILS</legend>
                    <h3 class="mt-2"><b>{{ object.hw_description }}</b></h3>
                    <h4 class="mb-2">{{ object.hw_vend_fk }}</h4>
                    <hr class="mt-2 mb-2">
                    <div class="row mt-3 mb-1">
                        <div class="col pg-detail-hdr">Hardware Category</div><div class="col pg-detail-hdr">Hardware Status</div>
                    </div>
                    <div class="row">
                        <div class="col pg-detail-txt">{{ object.hw_hwcat_fk }}</div><div class="col pg-detail-txt">{{ object.hw_hwsts_fk }}</div>
                    </div>
                    <div class="row mt-3 mb-1">
                        <div class="col pg-detail-hdr">Internal Part Code</div><div class="col pg-detail-hdr">External Part Code</div>
                    </div>
                    <div class="row">
                        <div class="col pg-detail-txt">{{ object.hw_int_code }}</div><div class="col pg-detail-txt">{{ object.hw_ext_code }}</div>
                    </div>
                    <div class="row mt-3 mb-1">
                        <div class="col pg-detail-hdr">EOL Date</div><div class="col pg-detail-hdr">Internal Reference</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col pg-detail-txt">{{ object.hw_eol_date }}</div><div class="col pg-detail-txt">{{ object.hw_int_reference }}</div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </main>