        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-12">
                {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <legend class="border-bottom mb-2">Hardware Details</legend>
                        </div>
                        <div class="form-row border-bottom mb-2">
                            <div class="form-group col-md-8">
                                {{ form.hw_description|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.hw_vend_fk|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.hw_cust_fk|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.hw_portsts_fk|as_crispy_field }}
                            </div>                          
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.hw_hwcat_fk|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.hw_hwsts_fk|as_crispy_field }}
                            </div>                          
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.hw_hwcat_fk|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.hw_hwsts_fk|as_crispy_field }}
                            </div>                          
                        </div>                                                                     
                        <div class="form-row border-bottom mb-2">
                            <div class="form-group col-md-6">
                                {{ form.hw_int_code|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.hw_ext_code|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.hw_eol_date|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.hw_eow_date|as_crispy_field }}
                            </div>                          
                        </div>
                        <div class="form-row border-bottom mb-2">
                            <div class="form-group col-md-3">
                                {{ form.hw_ems_date|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form.hw_ees1_date|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form.hw_ees2_date|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form.hw_ees2_date|as_crispy_field }}
                            </div>                    
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                {{ form.hw_see_txt|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-11">
                                {{ form.hw_plp_txt|as_crispy_field }}
                            </div>                          
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                {{ form.hw_int_reference|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.hw_upd_date|as_crispy_field }}
                            </div>                          
                        </div>                     
                        <hr class="mt-4 mb-4" />
                        <div class="form-group">
                            <button class="btn-adm btn-primary-adm" type="submit">Save</button>
                            <a class="btn-adm btn-danger-adm" href="javascript:history.go(-1)">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>