        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-9">
                {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Hardware Details</legend>
                        </fieldset>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.hw_description|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3">
                                {{ form.hw_vend_fk|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary-adm" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>