        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-9">
                {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Hardware Details</legend>
                        </fieldset>
                        {{ form.non_field_errors }}
                        <div class="form-row">
                            <div class="form-group col">
                                {{ form.hw_description.errors}}
                                <label for="{{ form.hw_description.id_for_label }}">Hardware Description</label>
                                {{ form.hw_description }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{ form.hw_vend_fk.errors}}
                                <label for="{{ form.hw_vend_fk.id_for_label }}">Vendor</label>
                                {{ form.hw_vend_fk }}
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary-adm" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>