    <div>
        <form method="GET" action=".">
            <div class="form-row">
                <div class="col-2">
                    <label for="hardwareDesc">Hardware filter:  </label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="hardwareDesc" name="hardwareDesc" aria-describedby="hardwareHelp" placeholder="Hardware description contains...">
                    {% comment %} <small id="hardwareHelp" class="form-text text-muted">Enter letters contained in the hardware description...</small> {% endcomment %}
                </div>
                <div class="col-2">
                    <button class="btn btn-primary-adm" type="submit" >&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search&nbsp;&nbsp;</button>
                </div>
                {% for group in user.groups.all %}
                    {% if group.name == 'CCDelegate' or group.name == 'CCEditor' %}
                        <div class="col-2">
                            <a class="btn btn-primary-adm" href="{% url 'hardware-create' %}">&nbsp;&nbsp;<i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;New Hardware&nbsp;&nbsp;</a>
                        </div>
                    {% endif %}
                {% endfor %}               
            </div>
        </form>
        <hr/>
        <table class="table-adm table-adm-sm table-adm-hover table-striped">
            <thead>
                <tr>
                <th scope="col">Description</th><th>Vendor</th><th>Category</th><th>Status</th><th>End of Life</th>
                 </tr>
            </thead>
            <tbody>
                {% for hardware in queryset %}
                    <tr>
                        <td><a href="{% url 'hardware-detail' hardware.hw_id %}" style="display:block;"><b>{{hardware.hw_description }}</b></a></td>
                        <td><a href="{% url 'hardware-detail' hardware.hw_id %}" style="display:block;"><b>{{hardware.hw_vend_fk}}</b></a></td>
                        <td><a href="{% url 'hardware-detail' hardware.hw_id %}" style="display:block;"><b>{{hardware.hw_hwcat_fk }}</b></a></td>
                        <td><a href="{% url 'hardware-detail' hardware.hw_id %}" style="display:block;">{{hardware.hw_portsts_fk }}</a></td>
                        <td><a href="{% url 'hardware-detail' hardware.hw_id %}" style="display:block;">{{hardware.hw_eol_date }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr/>
        <div class="pagination">
            <span>
                {% if queryset.has_previous %}
                    <a class="btn btn-outline-dark mb-4" href="?page=1">&lt;&lt;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ queryset.previous_page_number }}">&lt;</a>
                {% endif %}
                {% for num in queryset.paginator.page_range%}
                    {% if queryset.number == num %}
                         <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > queryset.number|add:'-3' and num < queryset.number|add:'3' %}
                        <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if queryset.has_next %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ queryset.next_page_number }}">&gt;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ queryset.paginator.num_pages }}">&gt;&gt;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <span class="current">
        Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}
    </span>