<div class="container">
    <legend class="border-bottom mb-4">Customer Details</legend>
    <h2><b>{{ object.cust_name }}</b></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- Tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#contacts"><b>Contacts</b></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>Notes</b></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#projects"><b>Projects</b></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="contacts" class="container tab-pane active"><br>
                <h3>Contacts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="notes" class="container tab-pane"><br>
                <h3>Notes</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="projects" class="container tab-pane"><br>
                <h3>Projects</h3>
                    {% include "../customers/cust_projects_list.html" %}
                </div>
            </div>
        </div>
    </div>
</div>