        <main role="main" class="container">
            <div class="row">
                <div class="content-section col-md-9">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Delete Customer</legend>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Create...</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>