{% extends "../main/base.html" %}
{% load usergroups %}
{% block content %}
    {% with breadcrumb="Components / Customers"%}
        {% include "./cust_pagetopper.html" %}
    {% endwith %}
    {% include "./cust_pgheader.html" %}
    {% if user.is_authenticated %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                    <h2>{{ object.name }}</h2>
                    <h2>User Group:</h2>
                    {% ifequal user.groups.all.0 'CCReader' %}
                        <p>CCReader</p>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% include "../customers/cust_sideoptions.html" %}
                </div>
            </div>
        </main>
    {% else %}
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>You need to be logged in to view the information in this section of the application...</h1>
                    </div>
                </div>
            </main>
    {% endif %}
{% endblock content %}