    {% if cust_notes %}
        <table class="table-adm table-sm table-hover">
            <thead>
                <tr>
                <th scope="col">Details</th>
                 </tr>
            </thead>
            <tbody>
                {% for note in cust_notes %}
                    <tr>
                        <td scope="row"><a href="#" style="display:block;">{{ note.custnote_note }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr/>
    {% else %}
        <h4 class="border-top border-bottom mt-4 mb-4 ">No notes found...</h4>
    {% endif%}
