{% extends "../main/base.html" %}
{% block content %}
    {% with breadcrumb="Components / Customers / Customer Details"%}
        {% include "./cust_pagetopper.html" %}
    {% endwith %}
    {% include "./cust_pgheader.html" %}
    {% if user.is_authenticated %}
        {% load static %}
          <div class="loader">
            <img src="{% static 'main/images/loader.gif' %}" alt="Loading..."/>
          </div>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                    {% include "../customers/cust_form.html" %}
                </div>
                <div class="col-md-3">
                    {% include "../customers/cust_formoptions.html" %}
                </div>
            </div>
        </main>
    {% else %}
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>You need to be logged in to view the information in this section of the application...</h1>
                    </div>
                </div>
            </main>
    {% endif %}
{% endblock content %}