          <div class="content-section">
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="javascript:history.back">Go Back</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Edit / Update Details</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">Delete Customer</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-item-2" href="#">New Customer...</a></li>
              </ul>
          </div>
