    <div>
        <form method="GET" action=".">
            <div class="form-row">
                <div class="col-2">
                    <label for="customerName">Customer filter:  </label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="customerName" name="customerName" aria-describedby="customerHelp" placeholder="Customer name contains...">
                    {% comment %} <small id="customerHelp" class="form-text text-muted">Enter letters contained in the customers name...</small> {% endcomment %}
                </div>
                <div class="col">
                    <button class="btn btn-dark" type="submit" >Filter</button>
                </div>
            </div>
        </form>
        <hr/>
        <table class="table-adm table-adm-sm table-adm-hover table-striped">
            <thead>
                <tr>
                <th scope="col">Customer Name</th>
                 </tr>
            </thead>
            <tbody>
                {% for customer in customerqs %}
                    <tr>
                        <td scope="row"> <a href="{% url 'customer-detail' customer.id %}" style="display:block;"><b>{{customer.cust_name }}</b></a></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr/>
        <div class="pagination">
            <span>
                {% if customerqs.has_previous %}
                    <a class="btn btn-outline-dark mb-4" href="?page=1">&lt;&lt;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ customerqs.previous_page_number }}">&lt;</a>
                {% endif %}
                {% for num in customerqs.paginator.page_range%}
                    {% if customerqs.number == num %}
                         <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > customerqs.number|add:'-3' and num < customerqs.number|add:'3' %}
                        <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if customerqs.has_next %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ customerqs.next_page_number }}">&gt;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ customerqs.paginator.num_pages }}">&gt;&gt;</a>
                {% endif %}
            </span>
        </div>
    </div>
                    <span class="current">
                        Page {{ customerqs.number }} of {{ customerqs.paginator.num_pages }}.
                    </span>