<div class="container">
    <legend class="border-bottom mb-4">Customer Details</legend>
    <h2><b>{{ object.cust_name }}</b></h2>
    <p>{{ object.id }}</p>
    <br>
    <br>
    <br>
    <p>{{ request.session.cust_id }}</p>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- Tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#projects"><b>PROJECTS</b></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="contacts" class="container tab-pane active"><br>
                    {% include "../customers/cust_contacts_list.html" %}
                </div>
                <div id="notes" class="container tab-pane"><br>
                {% include "../customers/cust_notes_list.html" %}
                </div>
                <div id="projects" class="container tab-pane"><br>
                    {% include "../customers/cust_projects_list.html" %}
                </div>
            </div>
        </div>
    </div>
</div>