    {% comment %} <table>
        <tr>
            <td><a class="nav-item-2" href="{% url 'project-create-cust' %}"><button type="button" class="btn btn-nav-adm btn-sm">Associate hardware product...</button></a></td>
        </tr>
    </table>
    <hr/> {% endcomment %}
    {% if cust_hwproducts %}
        <table class="table-adm table-adm-sm table-adm-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th>Vendor</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>End of Life</th>
                 </tr>
            </thead>
            <tbody>
                {% for product in cust_hwproducts %}
                    <tr>
                        <td scope="row"><a href="{% url 'hardware-detail' product.hw_id %}" style="display:block;"><b>{{ product.hw_description }}</b></a></td>
                        <td scope="row"><a href="{% url 'hardware-detail' product.hw_id %}" style="display:block;"><b>{{ product.hw_vend_fk }}</b></a></td>
                        <td scope="row"><a href="{% url 'hardware-detail' product.hw_id %}" style="display:block;">{{ product.hw_hwcat_fk }}</a></td>
                        <td scope="row"><a href="{% url 'hardware-detail' product.hw_id %}" style="display:block;">{{ product.hw_hwsts_fk }}</a></td>
                        <td scope="row"><a href="{% url 'hardware-detail' product.hw_id %}" style="display:block;">{{ product.hw_eol_date }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
        <hr class="mb-4"/>
    {% else %}
        <h5 class="text-white text-center bg-dark border-top border-bottom mt-4 mb-4">No hardware products found...</h5>
    {% endif%}
