        <div class="container">
            <div class="row">
                <div class="content-section col-xl-12">
                    <div class="row mt-4">
                        <div class="col-xl-12">
                        <hr class="mb-4">            
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#contacts"><b>CONTACTS</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notes"><b>NOTES</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#hardware"><b>HARDWARE PORTFOLIO</b></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#software"><b>SOFTWARE PORTFOLIO</b></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="contacts" class="container tab-pane active"><br>
                                    {% include "../customers/cust_contacts_list.html" %}
                                </div>
                                <div id="notes" class="container tab-pane"><br>
                                {% include "../customers/cust_notes_list.html" %}
                                </div>
                                <div id="hardware" class="container tab-pane"><br>
                                    {% include "../customers/plm_cust_hardware_list.html" %}
                                </div>
                                <div id="software" class="container tab-pane"><br>
                                    {% include "../customers/plm_cust_software_list.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>